/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.ts-case-image-wrapper{
  position: relative;
  z-index: 3;
}
body{
  font-family: 'Asap',sans-serif;
  
  line-height: 30px;
  color: #626c84;
}
html{
  text-rendering: optimizeLegibility;
}
.case-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  margin-bottom: 5px;
}
